<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  <title>{{ page.title }}</title>
  <link href='//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="stylesheets/styles.css">
  <link rel="stylesheet" href="stylesheets/pygment_trac.css">
  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <!--[if lt IE 8]>
  <link rel="stylesheet" href="stylesheets/ie.css">
  <![endif]-->
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-119309-8']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body>
<div id="main">
  <div id="header">
    <nav>
      <li class="fork"><a href="https://github.com/jozefizso">View On GitHub</a></li>
    </nav>
  </div><!-- end header -->

  <div class="wrapper">
    <section>
      <div id="title">
        <h1>Jozef Izso</h1>
        <p>(jozefizso.github.io)</p>
        <hr>
      </div>

      {{ content }}

    </section>

    <footer>
      <hr>
      <span class="credits left">Project maintained by <a href="https://github.com/jozefizso">jozefizso</a></span>
      <span class="credits right">Hosted on GitHub Pages &mdash; Theme by <a href="https://twitter.com/michigangraham">mattgraham</a></span>
    </footer>

  </div>

  <!--[if !IE]>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="js/respond.js"></script>
  <script>fixScale(document);</script>
  <![endif]-->
</body>
</html>
